body {
  margin: 0;
  padding: 0;
  position: relative;
}

body .sidenav {
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 50px;
  right: 20px;
  background: #000000b9;
  overflow-x: hidden;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body .sidenav ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

body .sidenav ul .nav-link {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
}

body .sidenav ul .nav-link:hover {
  color: #fff;
  background-color: #f1f1f180;
}

body .sidenav ul a.active {
  background-color: #f1f1f180;
  color: #000;
}

body .jumbotron {
  background-image: url(/images/jumbotron-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

body .jumbotron .btn {
  border: 1px solid #fff;
  color: #fff;
  margin-top: 20px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body .jumbotron .btn a {
  color: #fff;
}

body .jumbotron .btn a:hover {
  text-decoration: none;
}

body .content .about-me {
  background-image: url(/images/jumbotron-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

body .content .about-text {
  height: 550px;
  padding: 30px;
  background-color: #f1f1f1;
}

body .content .about-text h1 {
  margin: 30px 0;
  text-align: center;
}

body .content .about-text p {
  font-size: 1.5rem;
  text-align: left;
}

body .content .about-text a {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body .content .skills {
  width: 80%;
}

body .content .skills .nav-link {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

body .content .skills #frontend,
body .content .skills #project-managing,
body .content .skills #personal-skills,
body .content .skills #languages,
body .content .skills #other {
  font-size: 1.4rem;
  text-align: center;
  min-height: 200px;
}

body .content .projects-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

body .content .projects-header .projects-header_img {
  background-image: url(/images/projects.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

body .content .projects-header .projects-header_text {
  text-align: center;
  padding: 50px 30px;
}

body .content .projects-header .projects-header_text h1 {
  font-size: 3.5rem;
}

body .content .projects-header .projects-header_text p {
  font-size: 1.5rem;
}

body .content .projects-gallery {
  margin-top: 50px;
  max-width: 1200px;
}

body .content .projects-gallery .gallery-row {
  height: 350px;
}

body .content .projects-gallery .gallery-row .gallery-image {
  margin-top: 30px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

body .content .projects-gallery .gallery-row .gallery-image img {
  width: 300px;
  height: auto;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body .content .projects-gallery .gallery-row .project-line {
  position: relative;
}

body .content .projects-gallery .gallery-row .project-line .line-horizontal {
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  background-color: #f1f1f1;
  width: 95%;
}

body .content .projects-gallery .gallery-row .project-line .line-vertical_first {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50%;
  background-color: #f1f1f1;
  width: 5px;
}

body .content .projects-gallery .gallery-row .project-line .line-vertical_last {
  position: absolute;
  left: 50%;
  top: 0;
  height: 50%;
  background-color: #f1f1f1;
  width: 5px;
}

body .content .projects-gallery .gallery-row .project-line .line-vertical {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  background-color: #f1f1f1;
  width: 5px;
}

body .content .projects-gallery .gallery-row .project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

body .content .projects-gallery .gallery-row .project-description p {
  font-size: 1.2rem;
}

body .content .contact-panel {
  margin-top: 50px;
  max-width: 1200px;
}

body .content .contact-panel .btn-send {
  margin-top: 20px;
  margin-bottom: 10px;
}

body .content .contact-panel p {
  width: 50%;
}

body .content .contact-panel .contact-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .content .contact-panel .contact-social a {
  color: #000;
  margin: 10px;
}

body .content .contact-panel .contact-social a:hover {
  color: #4b4b4bed;
}

body .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.705);
  color: #fff;
  margin-top: 30px;
}

body .footer p {
  font-size: 1.2rem;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */