body {
  margin: 0;
  padding: 0;
  position: relative;
}

body .sidenav {
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 50px;
  right: 20px;
  background: #000000b9;
  overflow-x: hidden;
  padding: 0;
  border-radius: 5px;
}

body .sidenav ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

body .sidenav ul .nav-link {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
}

body .sidenav ul .nav-link:hover {
  color: #fff;
  background-color: #f1f1f180;
}

body .sidenav ul a.active {
  background-color: #f1f1f180;
  color: #000;
}

body .jumbotron {
  background-image: url(/images/jumbotron-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

body .jumbotron .btn {
  border: 1px solid #fff;
  color: #fff;
  margin-top: 20px;
}

body .jumbotron .btn a {
  color: #fff;
}

body .jumbotron .btn a:hover {
  text-decoration: none;
}

body .content .about-me {
  background-image: url(/images/jumbotron-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

body .content .about-text {
  height: 550px;
  padding: 30px;
  background-color: #f1f1f1;
}

body .content .about-text h1 {
  margin: 30px 0;
  text-align: center;
}

body .content .about-text p {
  font-size: 1.5rem;
  text-align: left;
}

body .content .skills {
  width: 80%;
}

body .content .skills .nav-link {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

body .content .skills #frontend,
body .content .skills #project-managing,
body .content .skills #personal-skills,
body .content .skills #languages,
body .content .skills #other {
  font-size: 1.4rem;
  text-align: center;
  min-height: 200px;
}

body .content .projects-header {
  height: auto;
}

body .content .projects-header .projects-header_img {
  background-image: url(/images/jumbotron-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}

body .content .projects-header .projects-header_text {
  text-align: center;
  padding: 50px 30px;
}

body .content .projects-header .projects-header_text h1 {
  font-size: 3.5rem;
}

body .content .projects-header .projects-header_text p {
  font-size: 1.5rem;
}

body .content .projects-gallery {
  max-width: 1200px;
}

body .content .projects-gallery .gallery-image {
  margin-top: 30px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .content .projects-gallery .gallery-image img {
  width: 300px;
  height: auto;
}

body .content .projects-gallery .project-line {
  position: relative;
}

body .content .projects-gallery .project-line .line-horizontal {
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  background-color: #f1f1f1;
  width: 95%;
}

body .content .projects-gallery .project-line .line-vertical_first {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50%;
  background-color: #f1f1f1;
  width: 5px;
}

body .content .projects-gallery .project-line .line-vertical_last {
  position: absolute;
  left: 50%;
  top: 0;
  height: 50%;
  background-color: #f1f1f1;
  width: 5px;
}

body .content .projects-gallery .project-line .line-vertical {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  background-color: #f1f1f1;
  width: 5px;
}

body .content .projects-gallery .project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

body .content .projects-gallery .project-description p {
  font-size: 1.2rem;
}

body .content .contact-panel {
  height: 500px;
}

body .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  padding: 20px;
  line-height: 1.2rem;
}

body .footer p {
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */