*{ border-radius: 0 !important; } 

body,
html {
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;

  .sidenav {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2e2e2e;
    padding: 0;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);

    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 800px) {
        flex-wrap: wrap;
      }
      li {
        @media only screen and (max-width: 800px) {
          width: 50%;
          display: flex;
          justify-content: center;
        }
        .nav-link {
          text-decoration: none;
          font-size: 25px;
          color: #fff;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          text-align: center;
          margin: 0;
          padding: 10px 40px;
          @media only screen and (max-width: 800px) {
            width: 100%;
          }

          &:hover {
            color: #0085da;
            // background-color: #f1f1f180;
          }
        }

        a.active {
          background-color: #0085da;
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .jumbotron {
    background-color: #494949;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 800px) {
      margin-top: 175px;
      min-height: auto;
    }

    .display-1 {
      @media only screen and (max-width: 415px) {
        font-size: 2rem;
      }
    }
    a.btn {
      background-color: #0085da;
      color: #fff;
      font-size: 1.5rem;
      margin-top: 20px;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2),
        0 3px 14px 0 rgba(0, 0, 0, 0.19);
      &:hover {
        text-decoration: none;
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
    @media only screen and (max-width: 565px) {
      h1 {
        font-size: 50px;
      }
    }
  }

  .content {
    .about-me {
      background-image: url(/images/about.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
      filter: grayscale(100%);
      &:hover {
        filter: grayscale(0);
        transition: all 2s;
      }
    }

    .about-text {
      min-height: 550px;
      padding: 30px;
      background-color: #f1f1f1;
      @media only screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      h1 {
        margin: 30px 0;
        text-align: center;
      }

      p {
        font-size: 1.5rem;
        text-align: left;
      }

      a {
        background-color: #0085da;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2),
          0 3px 14px 0 rgba(0, 0, 0, 0.19);

        &:hover {
          text-decoration: none;
          box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }

    .skills {
      .nav-tabs {
        border-bottom: none;
        .nav-link {
          font-size: 1.5rem;
          font-weight: bold;
          color: #000;

          @media only screen and (max-width: 800px) {
            text-align: center;
            border: none;

            &:active {
              border: 1px solid #2e2e2e;
              border-radius: 5px;
            }

            &:focus {
              border: 1px solid #2e2e2e;
              border-radius: 5px;
            }
          }
        }

        .nav-link.active {
          border: 2px solid #0085da;
          background-color: #0085da;
          color: #fff;
          border-radius: 5px;
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2),
            0 3px 14px 0 rgba(0, 0, 0, 0.19);

          &:hover {
            box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }
      }

      #frontend,
      #project-managing,
      #personal-skills,
      #languages,
      #other {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 50px;
        min-height: 150px;
      }
    }

    .projects-header {
      padding-left: 0 !important;
      padding-right: 0 !important;

      .projects-header_img {
        background-image: url(/images/projects.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(80%);
        min-height: 700px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        .projects-header_text {
          padding: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          color: #fff;
          background-color: #2e2e2ebe;
          width: 70%;
          @media only screen and (max-width: 800px) {
            width: 100%;
          }
          @media only screen and (max-width: 415px) {
            padding: 10px;
            background: none;
          }
          h1 {
            font-size: 3.5rem;
            margin-bottom: 30px;
          }

          p {
            font-size: 1.5rem;
          }
        }
      }
    }
    .projects-gallery {
      margin-top: 100px;
      max-width: 1200px;

      .gallery-row {
        .gallery-image {
          margin: 70px 0;
          padding-left: 0 !important;
          padding-right: 0 !important;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          .project-link {
            opacity: 0;
            position: absolute;
            background-color: #0000009d;
            padding: 10px;
            text-decoration: none;
            font-size: 28px;
            color: #fff;
            transition: all 3s;
            border-radius: 10px;
          }
          img {
            width: 400px;
            height: auto;
            box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
            filter: grayscale(100%);
          }

          &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
            img {
              filter: grayscale(0);
              transition: all 2s;
            }
            .project-link {
              opacity: 1;
              transition: all 2s;
            }
          }
        }

        .project-line {
          position: relative;
          .line-horizontal {
            position: absolute;
            top: 50%;
            left: 0;
            height: 5px;
            background-color: #c5c5c5;
            width: 95%;
          }

          .line-vertical_first {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 50%;
            background-color: #c5c5c5;
            width: 5px;
          }

          .line-vertical_last {
            position: absolute;
            left: 50%;
            top: 0;
            height: 50%;
            background-color: #c5c5c5;
            width: 5px;
          }

          .line-vertical {
            position: absolute;
            left: 50%;
            top: 0;
            height: 100%;
            background-color: #c5c5c5;
            width: 5px;
          }

          @media only screen and (max-width: 565px) {
            display: none;
          }
        }

        .project-description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 30px 5px;
          margin-top: 50px;

          h2 {
            color: #006eb3;
            font-weight: bold;
          }

          span {
            margin-bottom: 10px;
            font-style: italic;
          }

          p {
            font-size: 1.5rem;
          }
        }
      }
    }

    .contact-panel {
      margin-top: 100px;
      max-width: 1200px;

      h1,
      h3 {
        text-align: center;
      }

      p {
        font-size: 1.5rem;
      }

      label {
        padding-left: 10px;
        font-size: 1.3rem;
        font-weight: bold;
      }

      .form-control {
        border: 2px solid #007aca;
      }

      .btn-send {
        background-color: #0085da;
        color: #fff;
        font-size: 1.5rem;
        margin-top: 20px;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2),
          0 3px 14px 0 rgba(0, 0, 0, 0.19);

        &:hover {
          box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        @media only screen and (max-width: 765px) {
          margin: 0 auto;
          display: block;
        }
      }

      .text-required {
        text-align: left;
        font-size: 1.1rem;
        margin: 10px 0;
        @media only screen and (max-width: 415px) {
          font-size: 1rem;
        }
      }

      p {
        width: 70%;
        text-align: center;
        display: block;
        margin: 0 auto 20px;

        @media only screen and (max-width: 765px) {
          width: 100%;
        }
      }
      .contact-social {
        .social-nettwork {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50%;

          a {
            color: #2e2e2e;
            margin: 10px;

            &:hover {
              color: #4b4b4bed;
            }
          }
          @media only screen and (max-width: 565px) {
            flex-direction: row;
          }
        }
        h3 {
          @media only screen and (max-width: 565px) {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #2e2e2e;
    color: #fff;
    margin-top: 30px;
    p {
      font-size: 1.5rem;
      margin: 0;
    }
  }
}
