body {
  margin: 0;
  padding: 0;
  position: relative;

  .sidenav {
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 50px;
    right: 20px;
    background: #000000b9;
    overflow-x: hidden;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);

    ul {
      width: 100%;
      margin: 0;
      padding: 0;

      .nav-link {
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        display: block;
        width: 100%;
        text-align: center;

        &:hover {
          color: #fff;
          background-color: #f1f1f180;
        }
      }

      a.active {
        background-color: #f1f1f180;
        color: #000;
      }
    }
  }

  .jumbotron {
    background-color: #696969;
    height: 550px;
    margin-bottom: 0;
    display: flex;
    align-items: center;

    .btn {
      border: 1px solid #fff;
      color: #fff;
      margin-top: 20px;
      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      a {
        color: #fff;

        &:hover {
          text-decoration: none;
        }
      }
    }
    @media only screen and (max-width: 565px) {
      h1 {
        font-size: 50px;
      }
    }
  }

  .content {
    .about-me {
      background-image: url(/images/jumbotron-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;

      img {
        filter: invert(100%);
        // display: block;
        width: 200px;
        height: auto;
        // margin: 0 auto;
      }
    }

    .about-text {
      height: 550px;
      padding: 30px;
      background-color: #f1f1f1;

      h1 {
        margin: 30px 0;
        text-align: center;
      }

      p {
        font-size: 1.5rem;
        text-align: left;
      }

      a {
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

    .skills {
      width: 80%;
      .nav-link {
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
      }

      #frontend,
      #project-managing,
      #personal-skills,
      #languages,
      #other {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 50px;
        min-height: 150px;
      }
    }

    .projects-header {
      padding-left: 0 !important;
      padding-right: 0 !important;
      .projects-header_img {
        background-image: url(/images/projects.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
      }

      .projects-header_text {
        text-align: center;
        padding: 50px 30px;

        h1 {
          font-size: 3.5rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
    .projects-gallery {
      margin-top: 50px;
      max-width: 1200px;

      .gallery-row {
        // height: 350px;
        .gallery-image {
          margin-top: 30px;
          padding-left: 0 !important;
          padding-right: 0 !important;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          img {
            width: 300px;
            height: auto;
            box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }

        .project-line {
          position: relative;
          .line-horizontal {
            position: absolute;
            top: 50%;
            left: 0;
            height: 5px;
            background-color: #f1f1f1;
            width: 95%;
          }

          .line-vertical_first {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 50%;
            background-color: #f1f1f1;
            width: 5px;
          }

          .line-vertical_last {
            position: absolute;
            left: 50%;
            top: 0;
            height: 50%;
            background-color: #f1f1f1;
            width: 5px;
          }

          .line-vertical {
            position: absolute;
            left: 50%;
            top: 0;
            height: 100%;
            background-color: #f1f1f1;
            width: 5px;
          }

          @media only screen and (max-width: 565px) {
            display: none;
          }
        }

        .project-description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 30px;

          p {
            font-size: 1.2rem;
          }
        }
      }
    }

    .contact-panel {
      margin-top: 50px;
      max-width: 1200px;

      .btn-send {
        margin-top: 20px;
        margin-bottom: 10px;
      }
      p {
        width: 50%;
      }
      .contact-social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
          color: #000;
          margin: 10px;

          &:hover {
            color: #4b4b4bed;
          }
        }
        @media only screen and (max-width: 565px) {
          flex-direction: row;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.705);
    color: #fff;
    margin-top: 30px;
    p {
      font-size: 1.2rem;
      margin: 0;
    }
  }
}
